.content{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
mat-form-field{
    max-width: 130px;
    position: relative;
}

mat-spinner{
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    margin-left: 30%;
}